[user]
  name = "Jason Morton"
  email = "JasonMortonNZ@users.noreply.github.com"
[core]
  editor = "vi"
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[init]
  defaultBranch = master
[credential]
  helper = osxkeychain
[push]
  default = simple
[alias]
  c = commit
  l = log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset" --abbrev-commit
